<p id="notice"><%= notice %></p>

<table class="table">
  <thead>
    <tr>
      <th>Patient</th>
      <th>Doctor</th>
    </tr>
  </thead>
  <tbody>

<td>
  <%= @prescribtion.patient %>
</td>

<td>
  <%= @prescribtion.doctor %>
</td>
</tbody>
</table>
<%= link_to 'Edit', edit_prescribtion_path(@prescribtion) %> |
<%= link_to 'Back', prescribtions_path %>
