<h1>Log in</h1>
<%= form_for(:doctor_session,url: login_doctor_path) do |f| %>
<%= f.label :email %>
<%= f.email_field :email,class: 'form-control' %>
<%= f.label :password %>
<%= f.password_field :password,class: 'form-control' %>
<%= f.submit "Log in",class: "btn btn-primary" %>
<% end %>
<p> or <%= link_to "Sign up now!",signup_doctor_path %></p>
