<p id="notice"><%= notice %></p>

<h1 align="center">Medications</h1>

<table class="table">
  <thead>
    <tr>
      <th>Md name</th>
      <th>Md description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @medications.each do |medication| %>
      <tr>
        <td><%= medication.md_name %></td>
        <td><%= medication.md_description %></td>
        <td><%= link_to 'Show', medication %></td>
        <td><%= link_to 'Edit', edit_medication_path(medication) %></td>
        <td><%= link_to 'Destroy', medication, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Medication', new_medication_path %>
