<p id="notice"><%= notice %></p>
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Describtion</th>
    </tr>
  </thead>
  <tbody>
<td>
  <%= @medication.md_name %>
</td>

<td>
  <%= @medication.md_description %>
</td>
</tbody>
</table>

<%= link_to 'Edit', edit_medication_path(@medication) %> |
<%= link_to 'Back', medications_path %>
