<%= form_for(specialty) do |f| %>
  <% if specialty.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(specialty.errors.count, "error") %> prohibited this specialty from being saved:</h2>

      <ul>
      <% specialty.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :sp_name %>
    <%= f.text_field :sp_name, class: 'form-control' %>
  </div>

  <div class="field">
    <%= f.label :sp_description %>
    <%= f.text_area :sp_description, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
