<p id="notice"><%= notice %></p>

<p>
  <strong>Sp name:</strong>
  <%= @specialty.sp_name %>
</p>

<p>
  <strong>Sp description:</strong>
  <%= @specialty.sp_description %>
</p>

<%= link_to 'Edit', edit_specialty_path(@specialty) %> |
<%= link_to 'Back', specialties_path %>
