<p id="notice"><%= notice %></p>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Describtion</th>
    </tr>
  </thead>
  <tbody>

<td>
  <%= @specialty.sp_name %>
</td>

<td>
  <%= @specialty.sp_description %>
</td>
</tbody>
</table>

<%= link_to 'Edit', edit_specialty_path(@specialty) %> |
<%= link_to 'Back', specialties_path %>
