<p id="notice"><%= notice %></p>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Gender</th>
      <th>Date of birth</th>
      <th>address</th>
    </tr>
  </thead>

</tbody>
<td>
  <%= @patient.pat_name %>
</td>

<td>
  <%= @patient.pat_gender %>
</td>

<td>
  <%= @patient.pat_dob %>
</td>

<td>
  <%= @patient.pat_address %>
</td>
</tbody>
</table>

<%= link_to 'Edit', edit_patient_path(@patient) %> |
<%= link_to 'Back', patients_path %>
