
<p id="notice"><%= notice %></p>
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>email</th>
      <th>Office NO</th>
      <th>Fee</th>
      <th>specialty</th>
    </tr>
  </thead>
  <tbody>
    <tr>
<td>
  <%= @doctor.doc_name %>
<td>

<td>
  <%= @doctor.email %>
</td>

<td>
  <%= @doctor.doc_office_no %>
</td>

<td>
  <%= @doctor.doc_fee %>
</td>

<td>
  <%= @doctor.specialty.sp_name %>
</td>
</tr>
</tbody>
</table>
<%= link_to 'Edit', edit_doctor_path(@doctor) %> |
<%= link_to 'Back', doctors_path %>
