<p id="notice"><%= notice %></p>

<p>
  <strong>Rec name:</strong>
  <%= @receptionist.rec_name %>
</p>

<p>
  <strong>email:</strong>
  <%= @receptionist.email %>
</p>

<%= link_to 'Edit', edit_receptionist_path(@receptionist) %> |
<%= link_to 'Back', receptionists_path %>
