<p id="notice"><%= notice %></p>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>email</th>
    </tr>
  </thead>
  <tbody>

<td>
  <%= @receptionist.rec_name %>
</td>

<td>
  <%= @receptionist.email %>
</td>
</tbody>
<table>

<%= link_to 'Edit', edit_receptionist_path(@receptionist) %> |
<%= link_to 'Back', receptionists_path %>
