<p id="notice"><%= notice %></p>

<h1 align="center">Prescribtion Details</h1>

<table class="table">
  <thead>
    <tr>
      <th>Prescribtion</th>
      <th>Medication</th>
      <th>Dosage</th>
      <th>Duration</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @prescribtion_details.each do |prescribtion_detail| %>
      <tr>
        <td><%= prescribtion_detail.prescribtion.id %></td>
        <td><%= prescribtion_detail.medication.md_name %></td>
        <td><%= prescribtion_detail.dosage %></td>
        <td><%= prescribtion_detail.duration %></td>
        <td><%= link_to 'Show', prescribtion_detail %></td>
        <td><%= link_to 'Edit', edit_prescribtion_detail_path(prescribtion_detail) %></td>
        <td><%= link_to 'Destroy', prescribtion_detail, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Prescribtion Detail', new_prescribtion_detail_path %>
