<p id="notice"><%= notice %></p>

<table class="table">
  <thead>
    <tr>
      <th>Prescribtion</th>
      <th>Medication</th>
      <th>Dosage</th>
      <th>Duration</th>
    </tr>
  </thead>
  <tbody>
<td>
  <%= @prescribtion_detail.prescribtion.id%>
</td>

<td>
  <%= @prescribtion_detail.medication.md_name %>
</td>

<td>
  <%= @prescribtion_detail.dosage %>
</td>

<td>
  <%= @prescribtion_detail.duration %>
</td>
</tbody>
</table>

<%= link_to 'Edit', edit_prescribtion_detail_path(@prescribtion_detail) %> |
<%= link_to 'Back', prescribtion_details_path %>
