<p id="notice"><%= notice %></p>

<p>
  <strong>Prescribtion:</strong>
  <%= @prescribtion_detail.prescribtion.id%>
</p>

<p>
  <strong>Medication:</strong>
  <%= @prescribtion_detail.medication.md_name %>
</p>

<p>
  <strong>Medication:</strong>
  <%= @prescribtion_detail.dosage %>
</p>

<p>
  <strong>Medication:</strong>
  <%= @prescribtion_detail.duration %>
</p>

<%= link_to 'Edit', edit_prescribtion_detail_path(@prescribtion_detail) %> |
<%= link_to 'Back', prescribtion_details_path %>
