<p id="notice"><%= notice %></p>

<h1 align="center">Appointments</h1>

<table class="table">
  <thead>
    <tr>
      <th>Patient</th>
      <th>Doctor</th>
      <th>Ap date</th>
      <th>Ap time</th>
      <th>Receptionist</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @appointments.each do |appointment| %>
      <tr>
        <td><%= appointment.patient.pat_name %></td>
        <td><%= appointment.doctor.doc_name %></td>
        <td><%= appointment.ap_date %></td>
        <td><%= appointment.ap_time %></td>
        <td><%= appointment.receptionist.rec_name %></td>
        <td><%= link_to 'Show', appointment %></td>
        <td><%= link_to 'Edit', edit_appointment_path(appointment) %></td>
        <td><%= link_to 'Destroy', appointment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Appointment', new_appointment_path %>
