<p id="notice"><%= notice %></p>
<table class="table">
  <thead>
    <tr>
      <th>Patient</th>
      <th>Dcotor</th>
      <th>Date</th>
      <th>Time</th>
      <th>Receptionist</th>
    </tr>
  </thead>
  <tbody>
<td>
  <%= @appointment.patient.pat_name %>
</td>

<td>
  <%= @appointment.doctor.doc_name %>
</td>

<td>
  <%= @appointment.ap_date %>
</td>

<td>
  <%= @appointment.ap_time %>
</td>

<td>
  <%= @appointment.receptionist.rec_name %>
</td>
  </tbody>
</table>

<%= link_to 'Edit', edit_appointment_path(@appointment) %> |
<%= link_to 'Back', appointments_path %>
